.addition-info {
  font-size: 0;
  & * {
    font-size: $font__size;
  }
  text-align: center;

  &__group-links {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: darkorchid;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  &__link {
    display: block;
    padding-left: 22px;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px; // 18px
    font-weight: normal;
    color: white;
    &:not(:first-of-type) {
      margin-top: 8px;
    }

    &--favorite {
      position: relative;
      font-weight: bold;

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        display: block;
        content: "";
        width: 15px;
        height: 13px;
        background: transparent url("../img/icon-heart.png") no-repeat;
      }
    }
  }

  &__link-underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

//<section class="main-footer__addition-info addition-info">
//<div class="addition-info__group-links">
//<a class="addition-info__link addition-info__link--favorite" href="#">Для поставщиков</a>
//<a class="addition-info__link" href="#">О производстве</a>
//</div>
//<div class="addition-info__group-links">
//<a class="addition-info__link" href="#">Наши документы</a>
//<a class="addition-info__link" href="#">Экологические<br>стандарты</a>
//</div>
//</section>