.blog {
  min-height: 220px;
  padding: 26px 256px 20px 20px;
  background: white url("../img/bg-strawberry.jpg") no-repeat;
  color: #333333;

  &__header {
    font-weight: normal;
  }

  &__article-header {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: black;
  }

  &__article-header-underline {
    border-bottom: 2px solid #333333;
  }
}

//<section class="page__block-round page__block-double blog">
//<b class="blog__header">Новое в нашем блоге</b>
//<p class="blog__article-header">10 способов сервировки фруктовых щербетов к столу</p>
//</section>