.main-header {
  position: relative;
  margin-top: 0;
  font-size: 0;

  &__logo {
    //float: left;
    display: inline-block;
    vertical-align: middle;
    width: 154px;
    background-color: greenyellow; // DEV
    font-size: $font__size;
  }

  &__nav {
    //float: left;
    display: inline-block;
    vertical-align: middle;
    width: 706px;
    background-color: cornflowerblue; // DEV
    font-size: $font__size;
  }

  &__user-block {
    //float: right;
    //text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    background-color: rgba(0,0,0,0.1); // DEV
    font-size: $font__size;
  }

  &__contacts {
    position: absolute;
    right: 0;
    top: 100%;
    //float: right;
    //clear: both;
    //max-width: 300px;
    background-color: aquamarine; // DEV
    font-size: $font__size;
  }
}
