.page {
  color: $font__color;
  font-size: $font__size;
  line-height: $font__lh;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;

  &__block {
    width: $page-width;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2); // DEV
    //overflow: hidden;
    margin-top: 40px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &--wide {
      width: auto;
    }
  }

  &__block-round {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2); // DEV
  }

  &__block-double {
    float: left;
    width: ($page-width - 26px) / 2;
    //min-height: 100%;

    &:first-of-type {
      margin-right: 26px;
    }
  }
}