.products {
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: $font__size;
    width: 267px;
    &:not(:last-of-type) {
      margin-right: 26px;
    }

    //background-color: greenyellow;
  }
}