body {
  margin: 0; }

.page {
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f; }
  .page__block {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 40px; }
    .page__block:after {
      content: "";
      display: table;
      clear: both; }
    .page__block--wide {
      width: auto; }
  .page__block-round {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2); }
  .page__block-double {
    box-sizing: border-box;
    float: left;
    width: 587px; }
    .page__block-double:first-of-type {
      margin-right: 26px; }

.btn {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 22px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: #e84d37;
  background: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-align: center; }
  .btn:hover {
    background: linear-gradient(to top, #ec6f5e, #f58669);
    box-shadow: 0 1px 2px 0 #ac1000; }
  .btn:active {
    color: #fceeec;
    background: linear-gradient(to top, #e1613e, #d74531);
    box-shadow: 0 2px 2px 0 #942718 inset; }

.main-header {
  position: relative;
  margin-top: 0;
  font-size: 0; }
  .main-header__logo {
    display: inline-block;
    vertical-align: middle;
    width: 154px;
    background-color: greenyellow;
    font-size: 16px; }
  .main-header__nav {
    display: inline-block;
    vertical-align: middle;
    width: 706px;
    background-color: cornflowerblue;
    font-size: 16px; }
  .main-header__user-block {
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 16px; }
  .main-header__contacts {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 16px; }

.logo__link {
  font-size: 0;
  line-height: 0; }

.main-nav__list {
  margin: 0;
  padding: 0 14px;
  list-style: none;
  font-size: 0; }

.main-nav__item {
  display: inline-block;
  vertical-align: top; }

.main-nav__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 14px; }
  .main-nav__link:hover {
    background-color: #f7f6f3;
    color: #333333;
    border-radius: 16px; }
  .main-nav__link:active {
    background-color: #ededed;
    color: #333333;
    box-shadow: 0 2px 1px 0 #696969 inset;
    border-radius: 16px; }
  .main-nav__link--is-active {
    background-color: #e84d37;
    color: white;
    border-radius: 16px; }

.user-block {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: right; }
  .user-block__item {
    display: inline-block;
    vertical-align: top; }
    .user-block__item:not(:first-of-type) {
      margin-left: 10px; }
  .user-block__link {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 8px 14px; }
    .user-block__link:hover {
      background-color: #f8f7f4;
      color: #333333; }
    .user-block__link:active {
      background-color: #ededed;
      color: #333333;
      box-shadow: 0 2px 1px 0 #696969 inset; }

.contacts {
  text-align: right; }
  .contacts__work-time {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold; }
  .contacts__phone {
    margin: 0;
    margin-top: 6px;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold; }

.slider {
  margin-top: 0;
  height: 534px;
  background-color: rgba(255, 255, 255, 0.2); }
  .slider p {
    margin: 0; }

.promo__item {
  padding: 22px 20px;
  background-repeat: no-repeat;
  background-size: cover; }
  .promo__item--raspberry {
    background-image: url("../img/promo-raspberry.jpg"); }
  .promo__item--chocolate {
    background-image: url("../img/promo-chocolate.jpg"); }

.promo__header {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold; }

.promo__text {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold; }

.promo__btn {
  float: right;
  margin-top: 46px; }

.products {
  font-size: 0; }
  .products__item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width: 267px; }
    .products__item:not(:last-of-type) {
      margin-right: 26px; }

.product {
  position: relative; }
  .product__hit {
    position: absolute; }
  .product__img {
    display: block; }
  .product__price {
    display: block;
    font-size: 45px;
    line-height: 45px;
    margin-top: -54px; }
  .product__description {
    margin-top: 30px;
    text-align: center; }
  .product__description-underline {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.features {
  padding: 28px 20px;
  background: #ece0c5 url("../img/wafer-pattern.jpg");
  color: #333333; }
  .features__header {
    font-size: 24px;
    line-height: 30px; }
    .features__header:after {
      content: "";
      display: table;
      clear: both; }
  .features__layout-left {
    float: left;
    width: 540px; }
  .features__layout-right {
    float: right;
    width: 540px; }
  .features__item {
    margin-top: 20px; }

.feature {
  position: relative; }
  .feature:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat; }
  .feature--icecream::before {
    background-image: url("../img/icon-icecream.png"); }
  .feature--leaf::before {
    background-image: url("../img/icon-leaf.png"); }
  .feature--cow::before {
    background-image: url("../img/icon-cow.png"); }
  .feature--thermometer::before {
    background-image: url("../img/icon-thermometr.png"); }
  .feature__text {
    margin: 0;
    padding-left: 56px;
    padding-top: 16px; }

.blog {
  min-height: 220px;
  padding: 26px 256px 20px 20px;
  background: white url("../img/bg-strawberry.jpg") no-repeat;
  color: #333333; }
  .blog__header {
    font-weight: normal; }
  .blog__article-header {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: black; }
  .blog__article-header-underline {
    border-bottom: 2px solid #333333; }

.subscribe {
  padding: 6px;
  background-image: url("../img/pattern-line-mail.png");
  background-color: #f8f7f4;
  color: #5a5a5a; }
  .subscribe__inner {
    background-color: #f8f7f4;
    padding: 30px 20px;
    border-radius: inherit; }
  .subscribe__description {
    margin: 0; }
  .subscribe__form {
    margin-top: 38px; }
  .subscribe__input {
    box-sizing: border-box;
    width: 368px;
    padding: 10px 18px;
    margin-right: 10px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    font: inherit; }
    .subscribe__input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #999999;
      opacity: 1;
      /* Firefox */ }
    .subscribe__input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #999999; }
    .subscribe__input:-ms-input-placeholder {
      /* Microsoft Edge */
      color: #999999; }
  .subscribe__btn {
    padding-top: 10px;
    padding-bottom: 10px; }

.map {
  min-height: 428px;
  background: #e5e3d1 url("../img/map.jpg") center;
  background-size: cover; }

.feedback {
  margin-top: 0;
  position: relative; }
  .feedback__inner {
    position: absolute;
    right: 0;
    top: 62px;
    background-color: white;
    color: #333333;
    box-sizing: border-box;
    width: 302px;
    padding: 32px 24px; }
  .feedback__text {
    font-size: 14px;
    line-height: 20px; }
    .feedback__text:first-of-type {
      margin-top: 0; }
  .feedback__text-bold {
    font-size: 18px;
    line-height: 24px; }
  .feedback__btn {
    margin-top: 10px;
    width: 100%; }
